<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='/static/fullcalendar/fullcalendar.css' rel='stylesheet' />
    <link href='/static/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print'/>
    <link href='/static/fullcalendar/scheduler.min.css' rel='stylesheet' />

    <script src='/static/fullcalendar/lib/moment.min.js'></script>
    <script src='/static/fullcalendar/lib/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src='/static/bootstrap/bootstrap.min.js'></script>
    <script src='/static/fullcalendar/fullcalendar.js'></script>
    <script src='/static/fullcalendar/scheduler.min.js'></script>

    <script type="text/javascript">
        var mpg_resources = {{ resources|tojson }}
        var mpg_events = {{ events|tojson }}
    </script>
    <script src="/static/fullcalendar/custom.js"></script>
</head>

<div class="panel panel-default">
  <div class="panel-body">
        <div class="btn-group btn-group-justified" role="group" aria-label="Events">
            <a href="{{ url_for('main')}}" class="btn {% if prefix == 'all' %}active{% endif %} btn-default" role="button">All events</a>
            <a href="{{ url_for('show_events', prefix="mrt")}}" class="btn btn-default {% if prefix == 'mrt' %}active{% endif %}" role="button">MRTs</a>
            <a href="{{ url_for('show_events', prefix="eeg")}}" class="btn btn-default {% if prefix == 'eeg' %}active{% endif %}" role="button">EEG Labs</a>
            <a href="{{ url_for('show_events', prefix="rt")}}" class="btn btn-default {% if prefix == 'rt' %}active{% endif %}" role="button">RT Labs</a>
            <a href="{{ url_for('show_events', prefix="sl")}}" class="btn btn-default {% if prefix == 'sl' %}active{% endif %}" role="button">Special Labs</a>
        </div>
        <br>
        <div id="calendar"></div>
  </div>

    {# Bootstrap modal popup #}
{#    <div class=”modal” id=”successModal” tabindex=”-1″ role=”dialog” aria-labelledby=”successModalLabel” aria-hidden=”true”>#}
{#        <div class=”modal-dialog” role=”document”>#}
{#            <div class=”modal-content”>#}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                      <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                </div>#}
{#                <div class=”modal-body”>#}
{#                    <button type=”button” class=”btn btn-secondary” data-dismiss=”modal” aria-label=”Close”>#}
{#                        <span aria-hidden=”true”>&times;</span>#}
{#                    </button>#}
{#                    <p></p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</div>

</body>
</html>
